.tituloEntry{
    margin-bottom: 1em;
}

.opener{
    
    padding-bottom: 1em;
}

.fotoportada{
    background-image: url("./assets/190815-Imagenes-OMWD-semana-12-al-16_Noticia-1.jpg");
    background-size: cover;
    background-position: center center;
    padding-top: 3em;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.col-sm{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

@media (min-width: 541px){
    .col-sm:nth-of-type(1){
        border-radius: 15px 0 0 15px;
    }
    .col-sm:last-of-type{
        border-radius: 0 15px 15px 0;
    }
} 


.row{
    padding-bottom: 0.em;
}

.hovered{
    background-color: #4ea38b;
}

.ultimoDivisor{
    margin: 3rem;
}

th{
    width: 10%;
}

table{
    font-size: 20px;
}

.selected{
    background-color: #7ee077;
}






